/* 
Project : One Page
Author  : Musa OCAK
Date    : 14 June 2023
Version : v.1 
*/

/*#####################################################################*/
/* Root */
:root {
    --templateBgColor: rgb(43, 44, 44);
    --padding: 0.5rem 1rem;
    --background: #b3b1b1;
}

/*#####################################################################*/
/* Common Property */
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.2;
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

img:hover {
    opacity: 0.98;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.8);
    transition: all 2s;
    cursor: pointer;
}

i {
    font-size: 1.5rem;
}

.my_clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.myHeading{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-shadow: 0.4px -0.9px rgba(0,0 ,0 ,0.9 );
    opacity: 0.7;
}



/* My Special Size */
.fSize1 {
    font-size: 1rem;
    /* 15pixel carpi 1 demek */
}

.fSize2 {
    font-size: 2rem;
    /* 15pixel carpi 2 demek */
}

.fSize3 {
    font-size: 3rem;
    /* 15pixel carpi 3 demek */
}

.fSize4 {
    font-size: 4rem;
    /* 15pixel carpi 4 demek */
}

/* My Line-Clamp */
.line-clamp4 {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.line-clamp5 {
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.line-clamp8 {
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.line-clamp10 {
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.line-clamp20 {
    -webkit-line-clamp: 20;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

/*#####################################################################*/

/* Navbar */
.dark_mode {
    background-color: var(--templateBgColor);
    color: #ffffff;
}

/* Header */
header {
    background-image: url("./img/NightOfCity.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    height: 80vh;
    padding-top: 4rem;
}
/* Messages */
#messages{
    margin-top:3rem;
    margin-bottom:3rem;
}

#messages i{
    color: blue;
    font-size: 5rem;
}

/* Parallax */
#parallax{
    background-color: transparent;
    background-image: url('./img/parallax.jpg');
    background-size: cover;
    height: 35rem;
    padding: 2rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#parallax h2,p{
    color: white;
}

/* Footer */
footer {
    min-height: 10rem;
    width: auto;
    color: white;
}

/* Backtop */
#back_top {
    position: fixed;
    right: 0;
    bottom: 0;
}

#back_top:hover {
    opacity: 0.8;
}